body {
    background-image: url("../img/glass-coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.personal img {
    border: 2px dashed #0d6efd;
    margin-top: 1rem;
}

.portfolio img {
    height: 150px;
    width: auto;
} 

.portfolio img:hover {
    cursor: pointer;
}

.icons img {
    fill: white
}
