body {
    background-image: url("../img/glass-coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.personal img {
    border: 2px dashed #0d6efd;
    margin-top: 1rem;
}

.portfolio img {
    opacity: 0.9;
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
} 

.icons img {
    fill: white
}